<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>task-identifier</string>
		<string>com.upm.healthywear.checkUploadStatus</string>
		<string>com.upm.healthywear.uploadFiles</string>
		<string>be.tramckrijte.workmanagerExample.iOSBackgroundAppRefresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>HealthyWear</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>healthywear</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our application uses Bluetooth to connect to wearable devices to collect movement data for activity tracking and wellness monitoring.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our application uses Bluetooth to connect to wearable devices to collect movement data for activity tracking and wellness monitoring.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires continuous access to your location to support real-time, uninterrupted activity tracking and wellness insights, adapting to your environmental conditions. This helps maintain comprehensive activity metrics and supports healthy lifestyle choices, whether the app is active or running in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app continuously uses your location to enhance activity tracking and lifestyle personalization by adapting to your environmental conditions. This ensures precise, tailored insights for maintaining a healthy lifestyle, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to improve activity tracking and personalize wellness insights while you use it, adjusting data based on your current environment to promote healthy lifestyle habits.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
<true/>
<key>LSSupportsOpeningDocumentsInPlace</key>
<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
